* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    color: #3e403f;
}

/*
***
* SECTION FOR HEADER STYLE
***
*This section includes header and navbar style
***
*/
header {
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .2);
    z-index: 1;
}

.navbar {
    width: 800px;
    margin: 0 auto;
}

.navbar a {
    font-size: 1.2em;
    margin: 0 30px;
    color: #3e403f;
    text-decoration: none;
    font-weight: 400;
    padding: 5px;
}

.navbar a:first-child {
    margin: 0;
}

.navbar a:last-child,
.navbar a:nth-child(3) {
    margin-right: 0;
}

.navbar .left {
    float: left;
}

.navbar .right {
    float: right;
}

.active {
    border: 1px solid #3e403f;
    border-radius: 5px;
}

/*
***
* SECTION FOR IMAGE STYLE
***
*This section includes image block style with overlay
***
*/
.img_block {
    height: 300px;
    background-image: url("../images/taxi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.yellow {
    background-color: rgba(223, 181, 140, 0.8);
}

.img:hover .yellow {
    background: none;
    transition: background 1s;
}

.img_content {
    height: 100%;
    box-sizing: border-box;
    font-weight: 500;
    transition: background 1s;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_content > h4 {
    color: white;
    font-size: 30px;
    padding: 0 30px 20px 30px;
    border-bottom: 3px solid white;
    box-sizing: border-box;
    margin-bottom: 0;
}

.img_content > span {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    /*display: block;*/
    margin-top: 20px;
}

/*
***
* SECTION FOR CONTAINER STYLE
***
*This section includes container's and cards style
***
*/
.container {
    max-width: 800px;
    margin: 20px auto;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 25%;
    height: 100%;
    border: 1px solid lightgray;
    overflow: hidden;
}

.card_pic {
    height: 40%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.pic_1 {
    background-image: url("../images/pic1.jpeg");
}

.pic_2 {
    background-image: url("../images/pic2.jpeg");
}

.pic_3 {
    background-image: url("../images/pic3.jpeg");
}

.card_content {
    padding: 5px;
    box-sizing: border-box;
}

.card_title {
    margin: 10px 0;
}

.card_text {
    font-size: 13px;
    margin: 0;
}

.card_content > .card_text:last-child {
    margin-top: 10px;
}

/*
***
* SECTION FOR MAP STYLE
***
*This section includes map's style
***
*/
iframe {
    width: 100%;
    height: 300px;
}

/*-------*------*-------*/


/*SECTION FOR REGISTER, LOGIN, FEEDBACK MAIN TAG'S STYLE*/
.bg_main {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main, .bg_main {
    min-height: 85vh;
}

/*LINK TO REGISTER in FEEDBACK PAGE*/
.links {
    text-align: center;
}

.links span {
    font-size: 1.2em;
}

.links > a {
    color: #3e403f;
    text-align: center;
}

.links > span > a:hover {
    color: indianred;
}

/*LOGIN, REGISTER, FEEDBACK FORMS*/
.form_block {
    padding: 50px 0;
    box-sizing: border-box;
}

.form {
    width: 450px;
    margin: 0 auto;
}

.feedback_form {
    width: 100%;
}

.form,
.feedback_form {
    border-radius: 5px;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 5%;
    box-sizing: border-box;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

input,
textarea {
    width: 100%;
    margin: 10px 0 5px 0;
    padding: 10px;
    font-size: 14px;
    color: #3e403f;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.2s linear;
}

textarea {
    height: 80px;
}

.form > label > span:first-child {
    font-size: 16px;
    color: #5E6472;
    display: block;
    margin-top: 10px;
}

.form > label > span:last-child,
.form > span {
    font-size: 14px;
    color: indianred;
    display: block;
}

.btn {
    background: #B8F2E6;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: none;
    border-radius: 5px;
    color: #3e403f;
    outline: none;
}

.btn:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/*TABLE*/
.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.table_block {
    padding: 30px 0;
    box-sizing: border-box;
}

table {
    width: 100%;
    margin: 0 auto;
    font-weight: 300;
    box-shadow: 0px 0px 3px 0px #000000;
    padding: 0 10px;
}

table, th, td {
    border: 1px solid lightgray;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    border-collapse: collapse;
}

td, th {
    width: 33.33%;
    word-wrap: break-word;
}

th {
    background-color: #FFE6FA;
}

/*FOOTER*/
footer {
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 400px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .navbar a {
        font-size: 1.2em;
        margin: 0 10px;
        color: #3e403f;
        text-decoration: none;
        font-weight: 400;
        padding: 3px;
    }

    .navbar a:first-child {
        margin: 10px;
    }

    .navbar a:last-child,
    .navbar a:nth-child(3) {
        margin-right: 10px;
    }

    .container {
        display: flex;
        align-items: center;
        height: auto;
        flex-direction: column;
        box-shadow: none;
    }

    .form {
        width: 320px;
    }

    .table_block,
    .feedback_block {
        width: 340px;
        margin: 0 auto;
    }

    .feedback_block {
        padding-bottom: 30px;
    }

    table,
    .feedback_block > .feedback_form {
        width: 100%;
    }

    textarea {
        height: 50px;
    }

    .img_block, iframe {
        height: 150px;
    }

    .card:not(:last-child) {
        margin-bottom: 20px;
    }

    .card {
        width: 60%;
        height: 340px;
        box-shadow: 0px 0px 2px 0px #000000;
    }

    .card_text {
        font-size: 12px;
        margin-top: 0;
    }
    footer > span {
        font-size: 1em;
    }
}

@media only screen and (max-width: 320px) {
    .navbar a,
    footer > span {
        font-size: 0.8em;
    }

    .navbar a {
        margin: 0 5px;
        padding: 2px;
    }

    .img_content > h4 {
        font-size: 25px;
    }

    .img_content > span {
        font-size: 14px;
    }

    .form {
        width: 280px;
    }

    .table_block,
    .feedback_block {
        width: 300px;
        margin: 0 auto;
    }

    .links span {
        font-size: 1em;
    }
}