* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
}

/*HEADER*/

header {
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbar {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.navbar a {
    font-size: 1.2em;
    margin: 0 10px;
    color: black;
    text-decoration: none;
    font-weight: 400;
}

.navbar .left {
    float: left;
}

.navbar .right {
    float: right;
}

.navbar a:active, .navbar a:focus, .navbar a:hover {
    color: red;
}

/*IMG BLOCK*/
.img_block {
    background-image: url("../images/taxi3.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*CONTAINER*/
.container {
    max-width: 800px;
    margin: 20px auto;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 25%;
    height: 260px;
    border: 1px solid grey;
}

.small_pic {
    height: 40%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.pic_1 {
    background-image: url("../images/pic1.jpeg");
}

.pic_2 {
    background-image: url("../images/pic2.jpeg");
}

.pic_3 {
    background-image: url("../images/pic3.jpeg");
}

.card_content {
    padding: 5px;
    box-sizing: border-box;
    flex-grow: 1;
}

.card_title {
    margin: 10px 0;
    text-align: center;
}

.card_text {
    font-size: 13px;
    margin-top: 0;
}

/*MAP*/

iframe {
    width: 100%;
    height: 300px;
}

/*BACKGROUND FORM, FEEDBACK*/
.bg_main {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main, .bg_main {
    min-height: 100vh;
    margin: 0;
}

.links{
    display: flex;
    justify-content: center;
}

.links > a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    text-align: center;
}

/*LOGIN, REGISTER*/
.form {
    width: 450px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 5%;
    box-sizing: border-box;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

input,
textarea {
    width: 100%;
    margin: 10px 0 5px 0;
    padding: 10px;
    font-size: 14px;
    color: #5E6472;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
}

.form > label > span:first-child,
.add_form > label > span:first-child {
    font-size: 16px;
    color: #5E6472;
    display: block;
    margin-top: 10px;
}

.form > label > span:last-child,
.form > span,
.add_form > label > span:last-child {
    font-size: 14px;
    color: cyan;
    display: block;
}

.btn {
    background: #B8F2E6;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: none;
    border-radius: 5px;
    color: #5E6472;
}

.btn:hover {
    transform: translatey(3px);
    box-shadow: none;
}

.reg_block {
    padding-bottom: 80px;
}

/*TABLE*/
.table_block {
    padding: 30px 0;
}

table {
    width: 800px;
    margin: 20px auto;
    font-weight: 300;
    box-shadow: 0px 0px 3px 0px #000000;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
    background-color: white;
}

td, th {
    width: 33.33%;
    word-wrap: break-word;
}

th {
    background-color: #FFE6FA;
}

/*REG LINK*/

/*FOOTER*/
footer {
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 400px) {
    .navbar, main, footer {
        width: 400px;
    }

    .img_block {
        height: 150px;
    }

    .container {
        height: auto;
        max-width: 400px;
        flex-direction: column;
        justify-content: space-around;
    }

    .card:not(:last-child) {
        margin-bottom: 20px;
    }

    .card {
        width: 33.33%;
        height: 280px;
        border: 1px solid grey;
        box-shadow: 0px 0px 4px 0px #000000;
    }

    .card_text {
        font-size: 12px;
        margin-top: 0;
    }

    .form {
        max-width: 400px;
    }

    table {
        width: 400px;
    }
}